.container {
    display: flex;
    max-width: 1000px;
    margin: 0px auto;
    margin-top: 10px;
  }
  .top_btn {
    display: flex;
    gap: 24px;
  }
  .contact_image{
    height: 500px;
    width: 500px;
    /* border: 1px solid red; */
  }
  .contact_image img{
    max-width: 100%;
    max-height: 100%;
  }
  .contact_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .contact_form form {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    flex-direction: column;
  }
  .form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  .form_control input {
    height: 40px;
    padding: 0 8px;
  }
  .form_control textarea {
    padding: 8px;
  }
  
  .form_control label {
    font-size: 14px;
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
  }

  @media (max-width: 768px) {
    .container {
      max-width: 450px;
      display: flex;
      flex-direction: column-reverse;
    }

    .top_btn {
      justify-content: space-around;
      gap: 10px;
    }
  }
  