.contact_section {
    max-width: 1000px;
    margin: 0 auto;
  }
  .contact_section h1 {
    font-size: 40px;
    font-weight: 800;
    max-width: 80%;
  }
  .contact_section p {
    font-weight: 500;
  }

  @media (max-width: 768px) {
    .contact_section {
      max-width: 450px;
      text-align: justify;
    }

    .contact_section h1 {
      max-width: 100%;
      text-align: center;
    }
  }